@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Contact_WebApp.Models.IllnessResult;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Fever";
    ViewData["Title-header"] = "Check for Fever";
}
<form action="/fevercheck" method="post">
    <input type="number" name="temp" value="0.0" />
    <input type="submit" name="name" value="Check" />
</form>
<p>
    @if (Model != null)
    {
        if (@Model.HasFever)
        {
            <p>You've got fever!</p>
        }
        else if (@Model.HasHypothermia)
        {   
            <p>You've got hypothermia!</p>
        }
        else 
        {
            <p>You are perfectly healthy!</p> 
        }
    }

   