@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
    ViewData["Img-src"] = "/images/squirrel.jpg";
    ViewData["Img-desc"] = "/images/squirrel.jpg";
    ViewData["Title-header"] = "Contact information";
}
<div class="content-box">
    <div id="contact-info">
        <p class="contact-content"><span class="label">Name:</span><span class="value">Daniella Norén</span></p>
        <p class="contact-content"><span class="label">Contact:</span><span class="value">Cool str. 45</span></p>
        <p class="contact-content"><span class="label">Tel:</span><span class="value">+46 111 1111 11</span></p>
        <p class="contact-content"><span class="label">Email:</span><span class="value">email@@email.com</span></p>
    </div>
</div>

