@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Projects";
    ViewData["Img-src"] = "/images/winter.jpg";
    ViewData["Img-desc"] = "Lake during winter";
    ViewData["Title-header"] = "Projects";
}

<div class="content-box">
    <ul id="project-list">
        <li class="project-item">
            <h2><a href="https://github.com/DaniellaNoren/Hangman">Hangman</a></h2>
            <p>Console program. A game of hangman with words being read from a text-file</p>
        </li>
        <li class="project-item">
            <h2><a href="https://github.com/DaniellaNoren/Website">Website</a></h2>
            <p>A sample of a simple website using HTML, JS and CSS and one using Bootstrap.</p>
        </li>
        <li class="project-item">
            <h2><a href="https://github.com/DaniellaNoren/Calculator">Calculator</a></h2>
            <p>Console program. Basic calculator (Addition, subtraction, division, multiplication, exponentiation</p>
        </li>
        <li class="project-item">
            <h2><a href="https://github.com/DaniellaNoren/VendingMachine">Vending machine</a></h2>
            <p>Console program. It lets the user insert money, buy and use products in a vending machine.</p>
        </li>
        <li class="project-item">
            <h2><a href="https://github.com/DaniellaNoren/Sokoban">Sokoban</a></h2>
            <p>HTML, JS and CSS. A game of the japanese game sokoban.</p>
        </li>
        <li class="project-item">
            <h2><a href="https://github.com/DaniellaNoren/Lexicon_Assignment4">Todo-it</a></h2>
            <p>Group-project creating models, data-management and tests.</p>
        </li>

    </ul>
</div>

