@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="/css/layoutStyle.css" rel="stylesheet" />
</head>
<body>
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    <header>
        <img id="icon" src="/images/lion.png" alt="Icon of lion-silhouette" asp-append-version="true"/>
        <ul id="nav-menu">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-route="fevercheck">Temp check</a>
            </li>
        </ul>
    </header>
    <section id="main-content">
        <h1 class="page-title">@ViewData["Title-header"]</h1>
        <section id="render-section">
            @RenderBody()
        </section>
        @if (ViewData["Img-src"] != null)
        {
            <img id="stock-image" src=@ViewData["Img-src"] alt=@ViewData["Img-desc"] />
        }

    </section>
    <footer>
        <p class="footer-content" id="copyright">&copy;Daniella Norén</p>
        <p class="footer-content" id="date">@DateTime.Now.ToString("yyyy-MM-dd")</p>

        <div class="footer-content" id="credit">Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

    </footer>
</body>
</html>
